body{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
}

p{
    color: orange;
    text-align: left;
    font-size: 20px;

}

img{
    width: 600px;
    float: right;

}

.img2{
    width: 600px;
    float: left;
}